 <div class="center jumbotron">
   <h1>Welcome to a Ruby on Rails App</h1>

   <h2>
    Here you can find my 
    <a href="http://github.com/tutak/">GitHub</a>
    account.
   </h2>

   <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
 </div>

 <%= link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %>